* {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif; 
}

.container {
  max-width: 1350px;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header {
  position: fixed;
  height: 56px; 
  left: 0%;
  right: 0%;
  top: 0px; 
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px #0000001A;
  color: #000000;
  margin-bottom:56px;
  width:100%;
}


.nav-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 56px;
  padding: 0;
  margin:0;
}

.nav-items{
  position: relative;
  display: block;
}

.menu-list-links {
  margin-bottom: 0;
  padding: 16px;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color:#000;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border 0.3s ease, background-color 0.3s ease;
}

/* active comes after hover always */

.menu-list-links:hover{
    border-color: #191919;
}

.menu-list-links:active {
  color:white;
  background-color: rgba(25, 25, 25, 0.7);
  border-color: transparent;
}



.service-dropdown-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  left: -15%;
  top: 100%;
  display: none;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  border-radius:5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dropdown-link {
  width: 100%;
  display: block;
  font-weight: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  justify-content: center;
  color:#000;
  transition: background-color 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.dropdown-link:hover {
  background:#00BAFC;
}

.nav-items:hover .service-dropdown-list {
  display: block;
  background-color: white;
}

.nav-item:hover .dropdown-link:hover {
  background-color: #00BAFC;
  color: white;
}

.dropdown-link:active {
  opacity: 0.6;
}

.contact-number {
  padding: 8px 16px;
  background: #00BAFC;
  color: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  margin-left: 8px;
  margin-right: 0;
  border: 3px solid transparent;
}

.contact-number:hover {
  border: 3px solid #00BAFC;
  background-color: white;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:418px;
  max-width: 100%;
  padding: 0;
  padding-top: 80px;
  margin-top: 56px;
  margin: 0;
  margin-bottom: 80px;
}


.hero-heading-content {
  width: 470px;
  margin-right: 170px;

  
}

.hero-header {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  padding-bottom: 16px;
  margin: 0;
}

.hero-text{
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
  margin: 0;
}


.services-button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
}


.services-button:hover {
  background: rgba(0, 186, 252, 0.8);
  border-radius: 5px;
}

.services-button:active {
  background: rgba(0, 186, 252, 0.6);
  border-radius: 5px; 
}



.video {
  border-radius: 5px;
  width: 458px;
  height: 258px;

}

iframe {
  border:transparent;
}

.services-section {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center ;
  margin: 56px 0;
}

.services-heading {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;  
  color: #000000;
}

.services-paragraph {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 720px;
  margin-bottom: 24px;
}




.service-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.service-second {
  width:800px;
}

.main-content {
  background:#F4F4F4;
  margin: 80px 0;
  border: 1px solid transparent;
}



.services-content {
  width:500px;
  margin:32px 32px 32px 270px;
}
.services-type-box {
  width:800px;
  display:flex;
  background-color:#FFFFFF;
  margin:80px auto;
  position:relative;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.services-content::before {
  content:url("../images/services-web.svg");
  display: block;
  position: absolute;
  top: 32px;
  left:32px;
}

.telegram-service::before{
  content:url("../images/service-teleg@2x.svg");
  display: block;
  position: absolute;
  top: 32px;
  left:32px;
}

.smm-service::before {
  content:url("../images/service-smm.svg");
  display: block;
  position: absolute;
  top: 32px;
  left:32px;
}

.design-service::before {
  content:url("../images/service-design.svg");
  display: block;
  position: absolute;
  top: 32px;
  left:32px;
}

.crm-service::before {
  content:url("../images/service-crm.svg");
  display: block;
  position: absolute;
  top: 32px;
  left:32px;
}



.services-box-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin:0;
}

.service-type-list{
  list-style-type:none;
  padding:0;

}

.blue-dot::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #00BAFC;
  border-radius: 12px;
  margin-right: 8px;
}
.services-box-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.service-order {
  display: flex;
  align-items: center;
  margin-top:40px;
}


.serv-option-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 260px;
  margin-bottom: 48px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0;
  text-decoration: none;
  color:#000000;
}

.serv-option-boxes:hover {
  background: #FFFFFF;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.serv-option-boxes:active {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.serv-margin {
  margin-right: 70px;
}

.service-imgs {
  margin-top: 24px;
}



.services-page {
  width:800px;
  margin-top:72px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.services-page-heading{
  margin-top:72px;
  text-align:center;
  margin-bottom:16px;
  font-family: 'Open Sans', sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
}

.order-link {
  padding: 8px 16px;
  left: 0px;
  top: 24px;  
  background: #00BAFC;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;;
}

.order-link:hover{
  background: rgba(0, 186, 252, 0.8);
}

.order-link:active{
  background: rgba(0, 186, 252, 0.6);
}


.services-link {
  margin-left: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #00BAFC;
}

.about-us{
  padding-top: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
}

.work-process {
  padding:0 234px ;
  text-align: center;
}

.process-heading {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.process-paragraph {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.process-list-container{
  padding:0;
  list-style: none; 
  width: 830px;
}


.process-list-h {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.process-list-p {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 493px;
}

.process-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.order-heading {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color:white;
  margin: 0;
  padding:0;
}

.order-paragraph {
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color:white;
  width: 720px;
  margin-bottom: 24px;
}


.order-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #00BAFC;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 56px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 350px;
  height: 305px;
}

.info-inputs {
  margin-bottom: 16px;
  padding-left:16px;
  width: 300px;
  height: 56px;
  background: #F3F3F3;
   font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  border:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}


.footer{
  background-color: black;
  color: white;
  
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding-top:56px;
  padding-bottom: 56px;
}

.footer-copyright {
  margin-right: 100px;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 87px;
}



.footer-headings {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin:0
}

.copyright-description {
  width: 320px;
}

.footer-lists-container {
  list-style-type: none;
  padding-left:0;
}

.footer-lists {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer-lists:hover {
  color: #00BAFC;
}

.footer-lists:active {
  color: #00BAFC;
  opacity: 0.6;
}


.telegram-icon::before {
  content:url(../images/telegram-icon.svg);
  display:inline-block;
  height: 22px;
  width: 22px;
  margin-right: 8px;
}


.facebook-icon::before {
  content:url(../images/facebook.svg);
  display:inline-block;
  height: 22px;
  width: 22px;
  margin-right: 8px;
}

.instagram-icon::before {
  content:url(../images/instagram-icon.svg);
  display:inline-block;
  height: 22px;
  width: 22px;
  margin-right: 8px;
}
